<app-cabecalho></app-cabecalho>

<main>
  <!-- Chama o evento clienteAdicionado sempre que adicionar o cliente -->
  <!-- <app-cliente-inserir (clienteAdicionado)="onClienteAdicionado($event)"></app-cliente-inserir> -->
  <!-- <app-cliente-lista [clientes]="clientes"></app-cliente-lista> -->

  <!-- Removemos o event binding já que não estamos mais passando clientes
  entre componentes, e sim pelo service. -->
  <app-cliente-inserir></app-cliente-inserir>
  <app-cliente-lista></app-cliente-lista>
</main>
