<h2>Inserção de Clientes</h2>

<mat-card>
  <form (submit)="onSalvarCliente(formAddCliente)" #formAddCliente="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Nome" required
      minlength="4" name="nome" ngModel #nome="ngModel" [ngModel]="cliente?.nome">
      <mat-error *ngIf="nome.invalid">Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Fone" required
      name="fone" ngModel #fone="ngModel" [ngModel]="cliente?.fone">
      <mat-error *ngIf="fone.invalid">Digite um telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="email" matInput placeholder="Email" required
      name="email" ngModel #email="ngModel" [ngModel]="cliente?.email">
      <mat-error *ngIf="email.invalid">Digite um email válido</mat-error>
    </mat-form-field>

    <button color='accent' mat-raised-button>Salvar Cliente</button>
  </form>
</mat-card>
